mixin video(video)
    a(href=`/videos/${video.id}`).video-mixin
        if  /^https?:\/\//.test(video.thumbUrl)
            div.video-mixin__thumb
                img(src=video.thumbUrl crossorigin)
        else
            div.video-mixin__thumb
                img(src="/" + video.thumbUrl)
        div.video-mixin__data
            span.video-mixin__title=video.title
            div.video-mixin__meta
                span #{video.owner.name} •
                span #{video.meta.views} 회